In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy and pandas libraries.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [1]:
from sqlalchemy import create_engine, text
import pandas as pd

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [ ]:
database_name = 'Metal_Working_Solutions'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [3]:
engine = create_engine(connection_string)

Now you can write a query as text and pass it through the read_sql function to get the results back as a DataFrame.

Two notes:
* You can use triple quotes to break up the query over multiple lines.
* The line starting with `with` is used to make sure that the database connection is closed after retrieving the results. You can read more about context managers [here](https://realpython.com/python-with-statement/).

In [4]:
query = '''
SELECT *
FROM jobs;
--LIMIT 100;
'''

with engine.connect() as connection:
    jobs = pd.read_sql(text(query), con = connection)

jobs.head()

,jmp_job_id,jmp_plant_department_id,jmp_plant_id,jmp_production_due_date,jmp_customer_organization_id,jmp_job_date,jmp_part_id,jmp_part_revision_id,jmp_part_ware_house_location_id,jmp_part_bin_id,...,ujmp_remaining_to_ship,ujmp_pfmrelease_date,ujmp_rework_created,ujmp_hold_reason,ujmp_hold_owner,ujmp_bomvalidated,ujmp_nest_name,ujmp_qchold,ujmp_qchold_dept,ujmp_first_run
0,31827-0002-001,None,1.0,2023-10-05,K007-KENWO,2023-09-08,K007-0220,D,CHATT,BIN A,...,None,2023-09-20 08:25:48,False,None,0,True,0923148,False,0,False
1,31827-0003-001,None,1.0,2023-10-05,K007-KENWO,2023-09-08,K007-0820,0,CHATT,BIN A,...,None,2023-09-20 09:34:48,False,None,0,True,0923127,False,0,False
2,31831-0001-001,None,1.0,2023-10-31,M030-MORGO,2023-09-08,M030-0472,B,CHATT,BIN A,...,None,2023-10-17 17:40:48,False,None,0,True,102385,False,0,True
3,31832-0001-001,None,1.0,2023-09-16,M030-MORGO,2023-09-08,M030-0008,0,CHATT,BIN A,...,None,2023-08-29 18:13:12,False,None,0,True,092370,False,0,False
4,31833-0001-001,None,1.0,2023-09-20,M030-MORGO,2023-09-08,M030-0008,0,CHATT,BIN A,...,None,2023-08-31 18:13:12,False,None,0,True,092370,False,0,False

In [5]:
query = '''
SELECT *
FROM job_operations_2023;
--LIMIT 100;
'''

with engine.connect() as connection:
    job_operations_2023 = pd.read_sql(text(query), con = connection)

job_operations_2023.head()

,jmo_job_id,jmo_job_assembly_id,jmo_job_operation_id,jmo_operation_type,jmo_added_operation,jmo_prototype_operation,jmo_plant_department_id,jmo_plant_id,jmo_work_center_id,jmo_process_id,...,ujmo_two_man_op,ujmo_pfmrelease_date,ujmo_rework_created,ujmo_tooling_needed,ujmo_scheduled_start,ujmo_scheduled_due,ujmo_prod_due_date,ujmo_pfmop_start,ujmo_test_field,ujmo_line_center
0,31816-0001-001,1,20,1,False,False,None,1.0,BRAKE,PB,...,False,NaT,False,False,None,None,None,None,None,None
1,31872-0001-001,0,10,1,False,False,None,1.0,LASER,LASER,...,False,NaT,False,False,None,None,None,None,None,None
2,31872-0001-001,0,20,1,False,False,None,1.0,BRAKE,PB,...,False,NaT,False,False,None,None,None,None,None,None
3,31872-0001-001,0,40,1,False,False,None,1.0,BRAKE,PB,...,False,NaT,False,False,None,None,None,None,None,None
4,31872-0001-001,0,50,1,False,False,None,1.0,PACK,WRAP,...,False,NaT,False,False,None,None,None,None,None,None

In [6]:
query = '''
SELECT *
FROM job_operations_2024;
--LIMIT 100;
'''

with engine.connect() as connection:
    job_operations_2024 = pd.read_sql(text(query), con = connection)

job_operations_2024.head()

,jmo_job_id,jmo_job_assembly_id,jmo_job_operation_id,jmo_operation_type,jmo_added_operation,jmo_prototype_operation,jmo_plant_department_id,jmo_plant_id,jmo_work_center_id,jmo_process_id,...,ujmo_two_man_op,ujmo_pfmrelease_date,ujmo_rework_created,ujmo_tooling_needed,ujmo_scheduled_start,ujmo_scheduled_due,ujmo_prod_due_date,ujmo_pfmop_start,ujmo_test_field,ujmo_line_center
0,35765-0001-001,0,20,1,False,False,NaN,1,PACK,WRAP,...,False,NaT,False,False,None,None,None,None,None,None
1,33620-0001-001,0,10,1,False,False,NaN,1,LASER,LASER,...,False,NaT,False,False,None,None,None,None,None,None
2,35785-0001-001,0,20,1,False,False,NaN,1,PACK,WRAP,...,False,NaT,False,False,None,None,None,None,None,None
3,35785-0001-001,0,10,1,False,False,NaN,1,LASER,LASER,...,False,NaT,False,False,None,None,None,None,None,None
4,35806-0001-001,0,20,1,False,False,NaN,1,PACK,WRAP,...,False,NaT,False,False,None,None,None,None,None,None

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python